.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.kanbanContainer{
  padding:50px;
}
.headingStyle{
  border-bottom: 1px solid black;
  padding: 8px;
}
.kanbanContainer .row{
  justify-content: center;
}

.cardStyle{
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom:10px;
}

.btnStyle{
  border: unset;
  background-color: unset;
}

.colStyle{
  border-radius:10px;
  border:1px solid black;
  height: auto;
  min-height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
